language: clojure
script: lein with-profile dev:+1.9:+1.8:+1.7 midje
dist: trusty
jdk:
  - oraclejdk8
  - openjdk8
  - openjdk11
  - openjdk12
  - openjdk13
before_install:
- openssl aes-256-cbc -K $encrypted_193118c4cca9_key -iv $encrypted_193118c4cca9_iv
  -in geo_deploy_key.enc -out geo_deploy_key -d
jobs:
  include:
    - stage: deploy
      on:
        branch: master
      skip_cleanup: true
      jdk: openjdk11
      script: scripts/release.sh
env:
  global:
  - secure: QYOLwEqrVn8dlT3qwznYXujR3x4ZE0WJcBeQoMVbofVMqwcC+xA4uOnfI1M0xQwzfYCD92mIUSoc0KGQGI7jCT2dcr2di2BEJZvIV4ra+CqgoHMJYd9S/hZCZuQWygX3MhBPl17jSKi2NQPAKu7tuP12Yd5GNBttiYOOyRFMdjY=
  - secure: Ny8wgc/tZqRR9/mv3vHupyKz1hvl7krMx+qCEILwsvgPZZg0fVTzZ+48HHzQ0CoNKY+u9PBHLuxPBkma5NM4NpdbsCySN6stqpIQJW7IwYvm6i2TkYHTD3BFv4MAkzxwON71Z1rUjCD3moh3TQGNVW+xNUv17UxUDB6KlK9BGS8=
